@import url(https://fonts.googleapis.com/css?family=Nunito);
.card-header {
  background-image: url(/images/profile-cover.jpg?978992455652990b161dd7ae7462e93b);
  background-size: cover;
  background-position: center top;
}

.msg {
  background-image: url(/images/msg.webp?d46478e2b9dfeca3ddebe3d6c6bccf75);
  background-size: cover;
  position: fixed;
}
